body{
    margin: 0px;
    padding: 0px;
    background: #ccc;
}
#page{
    width: 1000px;
    background: #fff;
    margin: 0px auto;
}
header{
    height: 100px; background: cyan;
}
nav{
    height: 30px; background: blue;
}
article{ min-height: 300px; background: chartreuse;
        width: 800px;  float: left;     }
aside{ min-height: 300px; background: yellow;
        width: 200px; float: left;}
footer{
    clear: both;
    height: 100px;
    background: rgb(49, 49, 49);
}