.sp{
    width: 250px;
    height: 300px;
    border: 1px solid red;
    overflow: hidden; /*Ẩn phần thừa của phần tử con*/
    border-radius: 15px;
    float: left;
    margin: 15px;
}
.sp:hover{ box-shadow: 0px 0px 15px rgb(158, 100, 100);}
.sp h2{ margin: 5px; text-align: center;}
.sp .spec{ 
    position: relative;
    top: -175px;
    left: 180px;
}
.sp .pro{ width: 150px; position: relative;
    left: -25px;
}
.sp .price1{  text-decoration: line-through;
    padding-left: 10px;
}
.sp .price2{ padding-left: 10px;}
.sp .tool{ width: 30px; position: relative;
left: 210px; top: -100px;
}